header{
    background-color: beige;
}
h1{
    text-align: center;
}
h2{
    color: chocolate;
}
section{
    background-color:darkgoldenrod;
}
a{
    text-decoration: none;
    color: coral;
    background-color: blue;
    text-align: center;
}